/* =============== */
/* BASIC SETUP */
/* =============== */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400&family=Lato&family=Open+Sans:wght@400;700&family=Yeseva+One&display=swap');
*{margin:0;padding:0;
	box-sizing: border-box;
	}
/*	
font-family: 'Gentium Book Basic', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Yeseva One', cursive; */

body{font-family: 'Titillium Web', sans-serif; 
	transition:all 0.5s ease;-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	text-rendering: optimizeLegibility; 
	line-height: 1.3rem;
	font-size: 1.6rem;
}
p{
	font-family: 'Lato', sans-serif;
}
button:focus{
	outline: 0;
}

body, html{height:100%;}
img{max-width:100%}
a{text-decoration:none}
a:hover{text-decoration:underline}
h1, h2, h3, h4, h5, h6{font-weight:normal;margin-top:10px;margin-bottom:10px;font-family: 'Yeseva One', cursive;}
p{line-height: 150%;margin-bottom: 2em;}
ul li{list-style-type: none;}
html{font-size: 62.5%;
	scroll-behavior: smooth;
}

/* =============== */
/* Reusable component */
/* =============== */
header{
	background: url(imgcss/cover1.jpg) no-repeat;
	padding: 160px 0;
	background-size: cover;
	
}
.fa-bars {
	color:  #fff;
    background: rgba(22,19,18,.5);
    padding: 5px 10px;
    font-size: 29px;
    border-radius: 5px;
}
.navbar ul li a{
	color: #fff;
	font-family: 'Gentium Book Basic', serif;
	font-size: 21px;
	font-weight: 500;
}
.navbar ul li a:hover{
	color: #008ED6;
}
.navbar ul li a i{
	color: #DAB33E;
	font-size: 21px;
}
.navbar ul li a i:hover{
	color:#008ED6; 
}
.banner{
	text-align: center;
}
.banner h1{
	font-family: 'Yeseva One', cursive; 
	font-size: 90px;
	color: #fff;
	font-weight: 300;
}
.imgbanner{
	display: inline-block;
	margin:0 auto;
	padding: 20px 0; 	
}

.btn-banner1{
	font-family: 'Lato', sans-serif; 
	font-size: 18px;
	color: #fff;
	background: rgba(22,19,18,.5);
	padding: 20px 65px;
	margin-right: 15px;
	margin-top: 30px;
	border: 1px solid #0D0B0A;
}
.btn-banner1:hover{
	color:  #4c5657;
}
.btn-banner2{
	font-family: 'Lato', sans-serif; 
	font-size: 18px;
	color:#fff;
	background: rgba(200,210,223,.3);
	padding: 20px 60px;
	margin-left: 15px;
	margin-top: 30px;
	border: 1px solid #fff;
}
/* =============== */
/* ABOUT SECTION */
/* =============== */
#about{
	background: #eee;
	padding: 70px 0;
}
.about-content{
	text-align: center;
}
.about-content h2{
	color: #CC9900;
	font-size: 36px;
	font-family: 'Yeseva One', cursive;
	margin-bottom: 20px;

}
.about-content p{
	color: #4C4C4C;
	font-size: 16px;
	margin-bottom: 40px;
	margin-top: 30px;
}
/* =============== */
/* IGRIDIENTS SECTION */
/* =============== */
#igridirnts{
	background: url(imgcss//cover2.jpg) no-repeat;
	padding: 70px 0px;
	background-size: cover;
	background-position: center left;
}
.igridients-content{
	background: #282421;
	opacity: .7;
	text-align: center;
	padding: 70px;
}
.igridients-content h2{
	color: #fff;
	font-size: 36px;
	font-family: 'Yeseva One', cursive;
	font-weight: 700;
}
.igridients-content img{
	margin: 25px 0;
}
.igridients-content p{
	color: #fff;
	font-size: 16px;
	margin-bottom: 60px;
}
/* =============== */
/* MENU SECTION */
/* =============== */
#menu{
	background: url(imgcss/cover4.jpg) no-repeat;
	background-size: cover;
	padding-bottom: 50px;
	padding-top: 50px;

}
.menu-itmes1{
	float: right;
	margin-right: 50px;
}
.menu-itmes2{
	float: left;
	margin-left:50px;
}
.menu-itmes4{
	float: left;
	margin-left:50px;
	margin-top: -114px;
}
.menu-heading{
	text-align: center;
}
.menu-heading h3{
	color: #CC9900;
	font-size: 36px;
}

.menu-content {
}
.menu-content h4{
	color: #C89F2D;
	font-size: 21px;
	font-family: 'Yeseva One', cursive;
	font-weight: 600;
	position: relative;
	border-bottom: 1px solid  #e1d4a8;
	padding-bottom: 18px;
}
.menu-content h4:after{
	position: absolute;
	content: "$3.99";
	left: 82%;
}
.menu-content p{
	color: #4C4C4C;
	font-size: 16px;
	margin-bottom: 35px;
}

.offer{
	border:1px solid #e1d4a8;
	padding: 0 5px;
	position: relative;

}
.offer:before{
	position: absolute;
	content: "Special";
	background: #D4B765;
	color: #fff;
	font-family: 'Lato', sans-serif; 
	font-size: 18px;
	padding: 8px 15px;
	left: 78%;
	top: -24%;
}

/* =============== */
/* REVIEW SECTION */
/* =============== */
#review{
	background: url(imgcss/cover3.jpg) no-repeat;
	position: relative;
	padding: 380px 0;
}
.review-content{
	background: #020202;
	opacity: .8;
	text-align: center;
	padding: 70px;
	width: 750px;
	height: 520px;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
}
.review-content h2{
	color: #fff;
	font-size: 36px;
	font-family: 'Yeseva One', cursive;
	font-weight: 700;
}
.review-content img{
	margin: 25px 0;
}
.review-content p{
	color: #DDE0DF;
	font-size: 20px;
	position: relative;
	line-height: 184%;
	font-family: 'Gentium Book Basic', serif;
	letter-spacing: 1px;
}
.review-content p:before{
	position: absolute;
	content: "\275D";
	font-size: 80px;
	top:8px;
	left: 14px;
	color: #9E9E99;
}
.review-span{
	color: #fff;
	font-size: 16px;
	margin-top: 40px;
}
/* =============== */
/* CONTACT SECTION */
/* =============== */
#contact{
	background: url(imgcss/cover5.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	padding: 100px 0;
}
.contact-content{
	text-align: center;

}
.contact-content h2{
	color: #CC9900;
	font-size: 36px;
	font-family: 'Yeseva One', cursive;
	margin-bottom: 20px;
	font-weight: 700;
}
.contact-content p{
		color: #4C4C4C;
	font-size: 16px;
	margin-bottom: 40px;
	margin-top: 30px;
}
.form-control,.custom-select{
	background: transparent;
	color: #7C7C7C;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 16px;
	
}
.form-control:hover,.custom-select:hover{
	border:1px solid #C9A131;
}
label{
	color: #C9A131;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 8px;

}
form{
	margin-bottom: 40px;
}
.btn-form{
	margin: 0 auto;
	background: #C9A131;
	padding: 12px 60px;
	font-size: 16px;
	border:none;
	display: block;
	border:1px solid #C9A131;
}
.btn-form:hover{
	background: transparent;
	color: #C9A131;
	border:1px solid #C9A131;
}

/* =============== */
/* FOOTERSECTION */
/* =============== */
#footer{
	background: #191919;
	padding: 50px 0;
	text-align: center;
}
.footer-content{
	margin-top: 20px;
}
.footer-content h3{
	color: #fff;
	font-size: 21px;
}
.footer-content p{
	color: #fff;
	font-size: 16px;
}
.footer-content img{
	padding: 10px 0;
}
.footer-conten{
	margin-top: 45px;

}
.footer-content i{
	color: #fff;
	padding: 0 10px;
	cursor: pointer;
	font-size: 20px;
}
.footer-content i:hover{
	color: #0568D2;;
}
